# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# If your Django configuration includes SECRET_KEY or database credentials in settings.py
# it is a good practice to separate those into a settings_local.py file or similar, and ignore it:
settings_local.py

# Django migrations
**/migrations/
**/migrations/*

# If you're using Django Compressor
compressor-output/

# Media files
media/

# Static files
staticfiles/

# Local environment settings
.env

# Test coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.cache/

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
.coverage
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Backup files
*.bak

# Environment files
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
